[Unit]
Description=onyx bot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/onyx/onyx/bot
ExecStart=chmod +x start.sh && ./start.sh
User=onyx
Restart=always

[Install]
WantedBy=multi-user.target
