[Unit]
Description=onyx web
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/onyx/onyx/web
ExecStart=sh start.sh
Restart=always

[Install]
WantedBy=multi-user.target
