[Unit]
Description=amyrin web
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/amyrin/amyrin/web
ExecStart=sh start.sh
Restart=always

[Install]
WantedBy=multi-user.target
