[Unit]
Description=onyx web
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/onyx/web
ExecStart=chmod +x start.sh && ./start.sh
User=onyx
Restart=always

[Install]
WantedBy=multi-user.target
